.navbar {
    /*background-color: rgb(0,115,165);*/
    color: white;
}

.navbar-default .navbar-brand {
    color: rgb(0, 115, 165);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 115, 165);
}

#logo {
    float: left;
}

#height {
    height: 200px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 60%;
    margin: auto;
}

#myCarousel {
    height: 100%;
}

.hrc{
    border-color:rgb(0,115,165);
}